<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Events Update</title>
</head>
<body>
<div layout:fragment="customContent">
    <form action="#" th:action="@{/events/update/{id}(id = ${updEvent.id})}" th:object="${updEvent}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" class="form-control" id="eventName" placeholder="Event Name" th:field="*{eventName}">
            <span th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}" th:errorclass="text-danger">Event Name Error</span>
        </div>
        <div class="form-group">
            <label for="eventDtm">Event Date</label>
            <input type="text" class="form-control" id="eventDtm" placeholder="YYYY-MM-DD" th:field="*{eventDtm}">
            <span th:if="${#fields.hasErrors('eventDtm')}" th:errors="*{eventDtm}" th:errorclass="text-danger">Event Name Error</span>
        </div>
        <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="StartSellT" name="StartSell" class="custom-control-input" value="true" th:field="*{StartSell}">
                <label class="custom-control-label" for="StartSell">Start Sell</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="StartSellF" name="StartSell" class="custom-control-input" value="false" th:field="*{StartSell}">
                <label class="custom-control-label" for="StartSell">Stop Sell</label>
            </div>
        </div>
        <div class="form-group">
            <label for="venueId">Venue</label>
            <select class="form-control" th:field="*{venueId}">
                <option value="0">select venue</option>
                <option th:each="vv : ${allVenues}" th:value="${vv.id}" th:text="${vv.venueName}"></option>
            </select>
            <span th:if="${#fields.hasErrors('venueId')}" th:errors="*{venueId}" th:errorclass="text-danger">Venue Error</span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;&nbsp;
        <a href="#" th:href="@{/events/index}" class="btn btn-warning">Back</a>
    </form>
</div>
</body>
</html>