<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Error Occur</title>
</head>
<body>
<div layout:fragment="customContent">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">Error</h1>
            <p class="fs-3" th:text="'[' + ${ErrObject.customErrCode} + '] -' + ${ErrObject.customErrMsg}" />
            <a th:href="@{{url}(url = ${ErrObject.returnUrl})}" class="btn btn-primary">back</a>
        </div>
    </div>
</div>
</body>
</html>